<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" style="width:50vw">
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
        <mat-option *ngFor="let option of filteredOptions " [value]="option" (onSelectionChange)="updateMySelection($event.source.value)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>