<!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

<h4 class="name">John Smith</h4>
<p class="designation">Software Engineer</p> -->

<!-- <mat-divider></mat-divider> -->

<button mat-button class="menu-button" (click)="onMenuClick('Home')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<!-- <button mat-button class="menu-button">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
</button>
<button mat-button class="menu-button">
    <mat-icon>info</mat-icon>
    <span>About</span>
</button> -->

<mat-divider></mat-divider>
<button mat-button class="menu-button" (click)="onMenuClick('Music')">
    <mat-icon>music_video</mat-icon>
    <span>Music</span>
</button>
<button mat-button class="menu-button" (click)="onMenuClick('Movie')">
    <mat-icon>local_movies</mat-icon>
    <span>Movie</span>
</button>
<button mat-button class="menu-button" (click)="onMenuClick('News')">
    <mat-icon>language</mat-icon>
    <span>News</span>
</button><button mat-button class="menu-button" (click)="onMenuClick('Entertainment')">
    <mat-icon>ondemand_video</mat-icon>
    <span>Entertainment</span>
</button>
<button mat-button class="menu-button" (click)="onMenuClick('Social')">
    <mat-icon>face</mat-icon>
    <span>Social & Blogs</span>
</button>
<button mat-button class="menu-button" (click)="onMenuClick('Religious')">
    <mat-icon>info</mat-icon>
    <span>Relegious</span>
</button>

<button mat-button class="menu-button" (click)="onMenuClick('Song')">
    <mat-icon>info</mat-icon>
    <span>Song</span>
</button>

<mat-divider></mat-divider>
<!-- <button mat-button class="menu-button" (click)="onMenuClick('Help')">
    <mat-icon>help</mat-icon>
    <span>Help</span>
</button> -->